.LoadMoreBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: gray;
    color: white;
}